.image_carousel {
  position:relative;
	padding: 15px 0 15px 0px;
  left: -7px;

}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
  coursor:pointer;
}
.clearfix {
	float: none;
	clear: both;
}

