body {
  font: 14px/20px verdana, helvetica-neue, helvetica, arial, san-serif;
  background: #efefef;
  color: #333;
  padding: 0;
  margin: 0;
}

#header {
    margin:10px auto 10px auto;
}


#header .menu {
  position:relative;
  top:40px;
}

.header-link {
  padding:6px 22px;
  color: white;
  background:#444;
  text-decoration:none;
  border-radius:3px;
  text-shadow: 1px 1px 1px #000;
}

.header-link:hover {background:#999}

#header .menu div {
    font-size:24px;
    margin-left:20px;
}

#header .menu div:hover {
    font-size:24px;
    margin-left:20px;
    color:red;
    cursor:pointer;
}

#footer {
    padding:20px 0px;
    background-color: #333;
    color: #666;
    font-size:12px;
    height:200px;
}

#footer h3 {
   font-size:12px;
}

