
<div id="footer">
  <div class="container_12">
    
    <div class="grid_3">
      <h3>Programi</h3>
      <p>kuhinje</p>
      <p>dnevne sobe</p>
      <p>stilno pohištvo</p>
    </div>

    <div class="grid_3">
      <h3>Kontaktni podatki</h3>
      <p>Koreninova 13, 1000 Ljubljana</p>
      <p>Tel: 01 2560426</p>
      <p>Fax: 01 2566726</p>
      <p>E-mail: <a href="mailto:info@kuhinje-erjavec.si">info@kuhinje-erjavec.si</a></p>
    </div>

    <div class="grid_6">
      <div class="fb-like" data-href="http://alesk.github.com/erjavec" data-send="true" data-width="450" 
        data-show-faces="true" data-colorscheme="dark" data-font="lucida grande" style="margin-top:20px;"></div>
    </div>
    
  </div>
</div>
