
<div id="footer">
  <div class="container_12">
    
    <div class="grid_3">
      <h3>Programi</h3>
      <p>adksf ajkalčdsjg aklsjg adlkčjg adsčklgj dačlkgj lčkadjsgklčadj adčgjk adsčgjaklsč</p>
    </div>

    <div class="grid_3">
      <h3>Socialna integracija</h3>
      <p>e the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets con</p>
    </div>

    <div class="grid_3">
      <h3>Kontaktni podatki</h3>
    </div>

    <div class="grid_3">
      <h3>Drugo</h3>
    </div>
    
  </div>
</div>
