<!doctype html>
<html>
  <head>
    <title>{{page.title}}</title>
    {% include head.inc %}

    {% include caroufredsel.inc %}

  </head>
   <body>
     {% include header.html %}

     <div id="content">
       <div class="container_12">
         <br/>
         <br/>
         <div class="grid_12"><h1>{{page.title}}</h1>
         <div class="clear"></div>

         <div class="alpha grid_7"><img src="{{site.url}}/img/{{page.keyphoto}}_big.jpeg" width="518px" alt={{page.title}} class="key-image"/></div>
         <div class="grid_5 omega">
            <p class="price">{{page.price}},00 EUR<p>  
            <p class="designer">oblikoval/a: {{page.designer}}<p>  
            <p>{{ content }}</p>
         </div>
         <div class="clear"></div>
         <br/>
         <br/>
         <br/>
     </div>
     </div>

{% include facebook.inc %}   
{% include footer.html %}   
   </body>
</html>
